body {
  background-color: rgb(170, 222, 255);
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
}

#myCanvas {
  display: none;
  background-color: #a2a2a1ff;
}

#admin {
  display: none;
}

#lobby {
  display: none; /*none/block*/
}

#err {
  display: none;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.box {
  padding: 40px;
  background-color: #272525;
  text-align: center;
  border-radius: 24px;
  min-width: 320px;
  margin-bottom: 25px;
}

.box h1,
h3 {
  color: white;
  /* text-transform: uppercase; */
  font-weight: 500;
}

.box p {
  color: white;
}

.box h1 {
  font-size: 50px;
}

.box h3 {
  font-size: 25px;
}

.box .button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(170, 222, 255);
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box .input {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(170, 222, 255);
  padding: 14px 10px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  width: 200px;
}

.box a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  padding-top: 10px;
}

.box .input:focus {
  width: 280px;
}

.box .button:hover {
  background-color: rgb(170, 222, 255);
  color: #272525;
}

.box a:hover {
  text-decoration: underline;
}

.lobby {
  margin: 10px;
  color: white;
}

.lobby ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.lobby li {
  padding: 0;
  margin: 0;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #505050;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

#results {
  display: none;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.crown {
  color: rgb(255, 215, 0);
}

/*joystick*/

#joymain {
  align-items: center;
  display: none;
  height: 100vh;
  justify-content: center;
  margin: auto;
  width: 100vw;
}

#wrapper {
  border: 1px solid black;
  width: 100px;
  height: 100px;
}

.joystick {
  background-color: blue;
  border-radius: 100%;
  cursor: pointer;
  height: 100%;
  user-select: none;
  width: 100%;
}
